/* 3D model-related styles */
#hero2 {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 40vh; /* Reduce height to move it higher */
    margin-top: -40px; /* Move the hero2 section up */
}

.model-viewer-container {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: flex-start; /* Align the 3D model to the top */
    margin-top: -40px; /* Move the 3D model up */
}

model-viewer {
    width: 100%;
    height: 100%;
}